/*
Theme Name:     Newspaper 7 Child theme
Theme URI: 		http://themeforest.net/user/tagDiv/portfolio
Description:    Child theme made by tagDiv
Author:         tagDiv
Author URI: 	http://themeforest.net/user/tagDiv/portfolio
Template:       Newspaper                             
Version:        7.2c
*/


/*  ----------------------------------------------------------------------------
    This file will load automatically when the child theme is active. You can use it
    for custom CSS.
*/

.padding{
	padding:0 10px;
}

.post{
	margin: 0 auto 15px;
	overflow: hidden;
}

.post .inner{
	height: 340px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.1);
    transition: .5s;
}

.post .inner:hover {
    border: 1px solid #ffb31a;
    box-shadow: 0 3px 12px rgba(255,179,26,.55);
}

.lg-video .inner .preview {
    position: absolute;
    width: 100%;
    transition: .5s;
    bottom: -5px;
    padding: 10px;
    display: table;
}

.post .inner:hover .background img {
    transform: scale(1.03);
}


.lg-video .inner .opacity-layer {
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lg-video .inner .preview {
    margin-top: 60px;
}

.lg-video .inner .preview .play-icon,
.sm-video .inner .play-icon {
    width: 84px;
    height: 84px;
    display: inline-block;
    background: url("./assets/img/play.png");
    background-size: cover;
    opacity: .8;
}

.lg-video .inner .preview h2 {
    color: #fff;
    font-family: Merriweather,serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    position: relative;
    top: -3px;
    left: 10px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}


.lg-video .inner .background img {
    width: 100%;
    transition: .7s;
}

.lg-video .inner .preview span.author {
    display: inline-block;
}

.lg-video  .inner .preview span.author span {
    color: #fff;
    opacity: .9;
    font-family: Quercus Sans Book,serif;
    font-size: 12px;
    line-height: .75;
}

.author-icon {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.author-icon .icon-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    transform: translateY(3px);
    position: relative;
    z-index: 5;
    cursor: pointer;
}

.medium-post .inner {
    height: 315px;
}


.event .inner .author{
	position: relative;
    width: 100%;
}

.helper-author {
    display: inline-block;
    vertical-align: top;
}

.event .inner .author .userpic {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
    border-radius: 3px;
    overflow: hidden;
}

.helper-author .userpic img {
    width: 100%;
}

.helper-author .username {
    position: relative;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.event .inner .author .username a {
    font: 12px/14px Quercus Sans Book,sans-serif;
}

.helper-author .username a span {
    display: inline-block;
    vertical-align: middle;
}

.helper-author .username a span:first-child {
    margin-top: 7px;
}

.helper-author .username a span:last-child {
    margin-top: -7px;
}

.event .inner h2 {
    padding: 15px 15px 0;
    display: block;
    overflow: hidden;
    max-height: 120px;
    font-size: 16px;
    line-height: 1.25;
    font-family: Merriweather,serif;
    font-weight: 400;
    color: rgba(0,0,0,.8);
    transition: .2s;
    margin-top:0;
}

.event .inner .image-wrapper {
    position: absolute;
    height: 145px;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
}

.event .inner .image-wrapper .image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: .7s;
}

.event .inner:hover .image-wrapper .image{
	transform: scale(1.02);
}


.sm-video .inner .background {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.sm-video .inner .background .img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .7s;
}

.sm-video .inner .opacity-layer {
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sm-video .inner .play-icon{
	width: 110px;
    height: 110px;
    position: relative;
    margin-top: 90px;
}

.sm-video .inner p {
    font-size: 16px;
    line-height: 1.35;
    font-family: Quercus Sans Book,serif;
    font-weight: 300;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 0 25px;
}

.sm-video .inner{
	text-align: center;
}

.sm-video .inner:hover .background .img {
    transform: scale(1.07);
}

.md-post{
	margin:0 auto 15px;
}

.md-post .inner{
	background: #000;
    cursor: pointer;
    position: relative;
    height: 340px;
    border-radius: 3px;
    overflow: hidden
}

.md-post .background{
	transition: .8s;
}
.md-post .inner .background img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.md-post .inner:hover .background img{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	transition: .8s;
}

.md-post .inner .shadow {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,transparent 38%,rgba(0,0,0,.43) 74%,rgba(0,0,0,.65));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
}

.md-post .inner .preview {
    position: absolute;
    top: 0;
    transition: .5s;
    padding: 25px;
    margin-top: 185px;
}

.md-post .inner .preview h2 {
    display: inline-block;
    line-height: .9;
    color: #fff;
    font-family: Merriweather,serif;
    margin-right: 10px;  
}

.md-post .inner .preview h2 a{
	font-size: 22px;
	font-weight: 300;
	color: #fff;
    font-family: Merriweather,serif;
    margin-right: 10px;
}

.md-post .inner .preview p{
	font-size: 15px;
	line-height: 1.25;
    overflow: hidden;
    color: #fff;
    font-family: Quercus Sans Book,serif;
    margin-top: 100px;
    transition: .5s;
    opacity: 0;
}

.md-post .inner:hover .preview {
    margin-top: 80px;
}

.md-post .inner:hover .preview p {
    margin-top: 15px;
    opacity: 1;
}