/**
* Theme Name:  divi child theme
* Theme URI:   https://drive.google.com/open?id=0B3RmFEM0zy_2UFBFaV81Q3JoVTQ
* Description: Divi Child Theme for changes in default theme
* Author:      Muhammad Waseem
* Author URI:  https://www.facebook.com/engineer.m.waseem
* Template:    Divi
* Template Version: 2.7
* Version:     1.0
**/
@import url("../Divi/style.css");
/*Theme customization starts here*/
@font-face{
    font-family: 'Gotham';
    src: url('fonts/GOTHAM.ttf') format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: 'Gotham Bold';
    src: url('fonts/GOTHAM-BOLD.ttf') format('truetype');
    font-weight: bold;
}
@font-face{
    font-family: 'Gotham Black';
    src: url('fonts/GOTHAM-BLACK.ttf') format('truetype');
    font-weight: bold;
}
.editable-container{
    position: relative;
}
.btn-callout{
    display: none !important;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.btn-callout.show{
    display: inline;
}
.btn-pencil{
    display: inline-block;
    top: 0;
    left: 90px;
    width: 200px;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #008CBA;
}
.edit-field{
    outline: none;
    border:  1px solid rgba(0,0,0,0.3);
    display: inline;
    padding: 8px 6px;
    display: block;
}
.author_container{
    position: relative;
}
.author_bg{
    min-height: 400px;
}
.author_title_container{
    position: absolute;
    top: 340px;
    left: 150px;
}
.author_title_container img{
    border: 4px solid white;
}
.author_title_container h1 span{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 20px;
    padding: 4px 6px;

}
.author_text_container{
    margin-top: 70px !important;
}
p.author-info{
    padding-bottom: 0;
}
.article-bg-container{
    padding: 0 10px;
}
.article-bg{
    min-height: 600px;
    position: relative;
}
.et_post_meta_wrapper{
    position: absolute;
    top: 200px;
    left: 32%;
    font-weight: bold;
    color: white;
    text-align: center;
}
.et_post_meta_wrapper h1{
    font-weight: bold;
    font-size: 3em;
    color: white;
    width: 400px;
    text-transform: uppercase;
    font-family: 'Gotham Black';
}
.et_post_meta_wrapper p{
    line-height: 4px;
    font-size: 1em;
    font-family: 'Gotham';
}
.post-author-text a{
    color: #D0202D;
}

.entry-content{
    padding-top: 0 !important;
}
/* Sidebar Widget Styles */
.et_pb_widget{
    padding: 3px;
}
.et_pb_widget .widgettitle{
    background-color: #D0202D;
    padding: 6px;
    color: white;
    text-align: center;
}
.et_pb_widget ul li{
    padding: 6px;
    background: #F6F7F9;
}
.et_pb_widget ul li:nth-child(odd){
    background: #E9EAEC;
}
.et_pb_widget ul li a,
.et_pb_widget ul li a:hover{
    color: #D0202D;
}
/* Right Sidebar Styles */
#front-sidebar-right .pre-widget{
    background: #CF202C;
    min-height: 300px;
    padding: 4px;
    border: 4px solid #fff;
    border-left-width: 2px;
    color: white;
}
#front-sidebar-right .widget{
    background: #CF202C;
    min-height: 300px;
    padding: 4px;
    border: 4px solid #fff;
    border-left-width: 2px;
    color: white;
}
#front-sidebar-right .widget h4{
    color: white;
    font-family: 'Gotham Bold';
    display: none;
}
#front-sidebar-right .widget table{
    width: 100%;
    margin-top: 20px;
}
#front-sidebar-right .widget table td{
    font-weight: bold;
}
#front-sidebar-right .widget table td a.em-calnav{
    color: white;
}
#front-sidebar-right .widget table td.eventless-pre,
#front-sidebar-right .widget table td.eventless-post{
    color: #444;
}
#front-sidebar-right .widget table td.eventful-pre a{
    color: white;
    text-decoration: underline;
}
#front-sidebar-right .widget table td.eventful a{
    color: white;
    text-decoration: underline;
}
#front-sidebar-right .widget table td.eventful,
#front-sidebar-right .widget table td.eventful-pre{
    background: #f7b912;
}
#front-sidebar-right .widget table td.eventless-today{
    color: #000;
    background: #f9e5e6;
}
.post-meta a{
    color: #D0202D;
}
/* Comments Styles */
#comment-wrap{
    background: #FCFCFC;
    padding: 10px 0;
    margin-top: 60px;
    font-size: 12px;
}
#comment-wrap h1.page_title{
    font-size: 1em;
    padding: 6px;
    color: #D63934;
    font-weight: bold;
}
#comment-wrap article.comment-body{
    margin-bottom: 10px;
}
#comment-wrap span.reply-container{
    border: 1px solid #333;
}
#comment-wrap span.reply-container {
    border: none;
}
#comment-wrap span.reply-container a{
    border: none;
    padding: 0;
    display: inline;
    position: static;
    color: #D63934;
    font-weight: 400;
    font-size: 12px;
}
#comment-wrap .comment_date{
    font-size: 12px;
}
#comment-wrap .comment-respond{
    margin: 0;
}
#comment-wrap .form-submit input[type="submit"]{
    color: #777;
}
#comment-wrap .comment-reply-title small{
    margin-top: 5px;
}
#comment-wrap .comment-reply-title small a{
    color: #D63934;
}
.et_post_meta_wrapper:last-child{
    position: static;
    top: 0;
}
.et_post_meta_wrapper .comment-reply-title{
    float: left;
    display: block;
    width: 100%;
    text-align: left;
}
.et_post_meta_wrapper .logged-in-as{
    float: left;
    display: block;
}
.et_post_meta_wrapper{
    text-align: left;
    color: #444;
    position: static;
    left: auto;
    top: auto;
}
.et_post_meta_wrapper h1.entry-title{
    color: black;
}
article.post.type-post .et_post_meta_wrapper{
    position: absolute;
    top: 200px;
    left: 32%;
    font-weight: bold;
    color: white;
    text-align: center;
}
article.post.type-post .et_post_meta_wrapper h1.entry-title{
    color: white;
}
article.post.type-post .et_post_meta_wrapper p:last-child{
    color: #222;
}
/* Front Page Styles */
#fp-container,
#fp-container .row > div{
    padding: 0;
}
#fp-container .row{
    margin: 0;
}
#fp-container .blog-banner{
    background: #CF202C;
    padding: 4px;
    border: 4px solid #fff;
}
#fp-container .blog-banner h2.banner-title{
    font-family: 'Gotham Bold';
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px;
    background: #fff;
    color: #CF202C;
    display: inline;
    margin-left: 20px;
    font-size: 2em;
}
.post-section{
    min-height: 300px;
    background: #777;
    position: relative;
    color: white;
    font-family: 'Gotham Bold';
    border: 4px solid #fff;
    border-right-width: 2px;
    border-left-width: 2px;
}
.row:not(:first-child) .post-section{
    border-top-width: 2px;
}
.post-section::before{
    content: '';
    position: absolute;
    background: rgba(208,32,45,0.25);
    width: 100%;
    height: 100%;
}
.post-section .section-title{
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
}
.post-section .post-group{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px;
}
.post-group .post-title{
    text-transform: uppercase;
    padding-bottom: 0;
    font-size: 1.5em;
    font-stretch: expanded;
}
/* Newsletter Styles */
#newsletter{
    margin-top: 2em;
    margin-bottom: 2em;
}
#newsletter img.logo{
    background: #CF202C;
    padding: 4px;
    margin-top: 8px;
}
#newsletter #logo-container{
    background: #CF202C;
}
#newsletter #logo-container > div:last-child {
    padding: 0;
}
#newsletter .logo-text{
    font-size: 1.6em;
    width: 100%;
    font-family: 'Gotham Bold';
    color: white;
    margin-top: 20px;
    margin-left: -8px;
    padding: 2px;
    display: block;
}
#newsletter #content{
    margin-top: 1em;
}
#content h2{
    margin-bottom: 0.5em;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gotham Bold';
}
#content .author-name a{
    font-size:  14px;
    font-weight: bold;
    color: #797DB3;
}
#content .outer-link{
    color: #4272D9;
}
.card-follow-btn{
    display: inline-block;
    position: absolute;
    left: 40%;
    bottom: 60%;
}
.card-follow-btn button{
    background: #CF202C;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: lowercase;
    font-family: 'Gotham';
}
#main-content{
    padding-bottom: 40px;
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Subscription Styles */
.subs-container{
    background-color: #CF202C;
    margin:4px 2px;
    padding:12px 2px;
    text-align: center;
    color: #fff;
}
.subs-container *{
    display: inline;
}
.subs-container .es_caption{
    font-size: 1.5em;
    font-family: 'Gotham';
}
.subs-container .es_lablebox,
.subs-container .es_button{
    display: none;
}
.subs-container .es_textbox{
    margin-left: 8px;
    position: relative;
}
.subs-container .es_textbox .es_textbox_class{
    padding: 4px 2px;
    outline: none;
    border: none;
    width: 250px;
}
.subs-container .es_textbox span{
    position: absolute;
    top: -4px;
    right: 5px;
    color: #fff;
    background: #CF202C;
    padding: 6px 6px;
    width: 40px;
    cursor: pointer;
}
.subs-container .es_msg{
    color: #fff;
}
#author_content_container{
    width: 370px;
}
#youtube_container{
    float: left;
    position: relative;
}
#youtube_iframe{
    position: relative;
    top: 125px;
    left: 0;
    margin-bottom: 30px;
}
@media only screen and (max-width : 480px) {
    .subscription-container .es_shortcode_form .es_textbox .es_textbox_class{
        width: 10vw;
    }
    #youtube_iframe{
        top: 0;
    }
}
@media only screen and (max-width : 320px) {
    .subscription-container .es_shortcode_form .es_textbox .es_textbox_class{
        width: 20vw;
    }
    #youtube_iframe{
        top: 0;
    }
    .author_title_container{
        left: 10px;
        z-index: 0;
    }
}
@media only screen and (max-width : 375px) {
    .author_title_container{
        left: 10px;
        z-index: 0;
    }
}
@media only screen and (max-width : 425px) {
    .author_title_container{
        left: 10px;
        z-index: 0;
    }
}
@media only screen and (max-width : 768px) {
    .card-follow-btn{
        bottom: 30%;
        right: 40%;
    }
    /*.subscription-container .es_shortcode_form .es_textbox .es_textbox_class{
        
    }*/
    #youtube_iframe{
        top: 0;
    }
}
@media only screen and (max-width : 992px) {
    .card-follow-btn{
        left: 55%;
    }
}
@media only screen and (max-width: 986px){
    /*.subscription-container .es_shortcode_form .es_textbox .es_textbox_class{
        
    }*/
    #youtube_iframe{
        top: 0;
    }
}
@media (min-width: 992px) {
    #youtube_iframe{
        top: 0;
    }
}
@media only screen and ( min-width: 1200px) {
    #youtube_iframe{
        top: 125px;
    }
}
.btn-danger{
    background-color: #CF202C !important;
    border-color: #CF202C !important;
}
#followModal{
    margin-top: 100px;
}
#fp-container{
    padding-bottom: 50px;
}
#main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu{
background-color:#cf202c;
}
@media (min-width: 981px){
.et_fullwidth_nav #main-header .container {
    width: 100%;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 0px;
}
}

.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation{
padding-top:9px;
}

.container.clearfix.et_menu_container{
	    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#top-menu a{
color:#FFF;
}

